  * {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    }
.main-title {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  display: flex;
  justify-content: center;
}
.title {

  display: flex;
  justify-content: center;
}
.paragraph {
  display: flex;
  justify-content: center;

}
.container {
  margin: 10px;
    padding: 10px;
    width: 100%;
    max-width: 768px;
    margin: auto;
}

legend {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;

}
.f-name,
.email, 
.phone,
.street,
.city,
.state,
.zip {
padding: 10px 0px;

}
#_name {


}